@{ ViewBag.PageTitle = "À propos de "; }
<div style="display:flex; align-items:center">
    <img src="~/WebApp.png" style="width:70px" />
    <h1>Wikimedia</h1>

</div>
<dl>
    <br />
 

    <dt>
        <br />
        Auteurs
    </dt>

    <dd>
        Maxime Tremblay <br />
        Derek Simms
    </dd>

</dl>